@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@100;400&display=swap');


*{
    box-sizing: border-box;
}
html, body{
    margin:0;
    padding:0;
    height: 100%;
}
body{
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;

}
/*principal*/
.principal{
display: flex;
max-width: 768px;
min-width: 320px;
}
/*columna*/
.columna{
    color: white;
    padding: 2rem;
    width: 25%;
    overflow: hidden;
    transition: width .3s ease-in-out;
    cursor: pointer;
}
.columna.activa{
    width: 50%;
}
.columna:first-of-type{
    border-radius: 1rem 0 0 1rem;
}
.columna:last-of-type{
    border-radius: 0 1rem 1rem 0;
}
.sedans{
    
    background-color: hsl(31, 77%, 52%);
}
.suvs{
    background-color: hsl(184, 100%, 22%);
}
.luxury{
    background-color: hsl(179, 100%, 13%);
}
.titulo{
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
}

.texto{
    font-size: 14px;
    margin-bottom: 4rem;
}
.enlace{
    text-decoration: none;
    border-radius: 1rem;
    padding: .5rem 1rem;
    background-color:white ;
    font-size: 12px;

}
.sedans .enlace{
    color: hsl(31, 77%, 52%);
}
.suvs .enlace{
    color: hsl(184, 100%, 22%);
}
.luxury .enlace{
    color: hsl(179, 100%, 13%);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }